{% block title %}Welcome!{% endblock %}

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

{% block css %}

    <link href="{{ asset('templates/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('templates/css/datepicker3.css') }}" rel="stylesheet"/>
    <link href="{{ asset('templates/css/styles.css') }}" rel="stylesheet"/>

{% endblock %}

{% block script %}
    <!--Icons-->
    <script src="{{ asset('templates/js/lumino.glyphs.js') }}"></script>
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
{% endblock %}

{% block header %}
    <div class="col-lg-12">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a class="navbar-brand"><span>| Crédit workflow |</span>| Rejoignez-nous |</a>
                    <ul class="user-menu">
                        <div class="col-lg-5">
                            <input name="email" class="form-control" autofocus="" type="email" placeholder="Login">
                        </div>
                        <div class="col-lg-5">
                            <input name="password" class="form-control" type="password" placeholder="Password" value="">
                        </div>
                        <div class="col-lg-1">
                            <a href="{{ path('client_homepage') }}" class="btn btn-primary">Login</a>
                        </div>
                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>
    </div>
{% endblock %}

<div class="col-lg-12">
    <br><br>
</div>

{% block section %}
    <div class="col-lg-12">
        <div id="sidebar-collapse" class="col-sm-5 col-lg-2 sidebar">
            <ul class="nav menu">
                <li role="presentation" class="divider"></li>
                <li class="parent ">
                    <a href="{{ path('Connect_Client') }}">
                        <span data-toggle="collapse" href="#sub-item-1">
                        <svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>
                        </span>Acceuil
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li class="parent ">
                    <a href="{{ path('Ajouter_Credit') }}">
                        <span data-toggle="collapse" href="#sub-item-1">
                        <svg class="glyph stroked chevron-down">
                        <use xlink:href="#stroked-chevron-down"></use>
                        </svg></span>Simulation de crédit
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li><a href="{{ path('Add_Client') }}">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        S'inscrire
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}