{% extends 'baseconnect.html.twig'%}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="panel panel-default">
            <div class="panel-heading">Inscription Agent Credit</div>

            <div class="panel-body">
                {{ form_start(form)}}

            <table>
                <tr>
                    <div class="form-group">
                        <td width="200px"> <label>Login</label></td>
                        <td>{{ form_widget(form.login,{ 'attr': {'class': 'form-control','placeholder':'Login'} }) }}</td>
                        <td width="200px" align="center"><font color="red">{{ err2 }}</font></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td> <label>Password</label></td>
                        <td>{{ form_widget(form.password,{ 'attr': {'class': 'form-control','placeholder':'Password'} }) }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td> <label> Confirm Password</label></td>
                        <td><input type="password" name="conf" class="form-control" placeholder="Confirm Password"></td>
                        <td><font color="red"> {{ err1 }}</font></td>
                    </div>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ form_widget(form.creer,{ 'attr': {'class': 'btn btn-primary','value':'créer'} }) }}
                    </td>
                </tr>
            </table>
        </div>
        </div>
        </div>

{{ form_end(form)}}
{% endblock %}