{% extends 'base.html.twig'%}
{% block content %}
    <head>
        <title>Creation Client</title>


    </head>
    <body>
        {{ form_start(form)}}
    <table width="100%" height = "80%">
        <tr>
            <td align="center">
                <table>
                    <tr>
                        <td colspan="1"><h1 class="page-header"> Creation Client</h1></td>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>Nom</label></td>
                            <td>{{ form_widget(form.nomCli,{ 'attr': {'class': 'form-control','placeholder':'Nom'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>Prenom</label></td>
                            <td>{{ form_widget(form.prenomCli,{ 'attr': {'class': 'form-control','placeholder':'Prenom'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td><label>Date Naissace</label></td>
                            <td>{{ form_widget(form.dateNaiCli,{ 'attr': {'class': 'form-control','type':'date'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>S'identifier</label></td>
                            <td>{{ form_widget(form.login,{ 'attr': {'class': 'form-control','placeholder':'S identifier'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <td></td>
                        <td><font color="red"> {{ error1 }}</font></td>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>mot de passe</label></td>
                            <td>{{ form_widget(form.password,{ 'attr': {'class': 'form-control','placeholder':'Mot de passe'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>Confirmation mot de passe</label></td>
                            <td><input class="form-control" type="password" name="confpas" placeholder="Confirmation mot de passe"></td>
                        </div>
                    </tr>
                    <tr>
                        <td></td>
                        <td><font color="red"> {{ error2 }}</font></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ form_widget(form.Valider,{ 'attr': {'class': 'btn btn-primary','value':'Valider'} }) }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
        {{ form_end(form)}}

    </body>
{% endblock %}
