{% extends 'baseconnect.html.twig'%}
{% block title %}Inscription{% endblock %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked male-user">
                        <use xlink:href="#stroked-male-user"></use>
                    </svg>
                </a>
            </li>
            <li class="active">S'inscrire</li>
        </ol>

    {{ form_start(form)}}
    <table align="center">
        <tr>
            <td align="center">
                <table>
                    <tr>
                        <td colspan="2"><h2 class="page-header"> Veuillez remplir votre formulaire d'inscription</h2></td>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>Nom</label></td>
                            <td>{{ form_widget(form.nomCli,{ 'attr': {'class': 'form-control','placeholder':'Nom'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>Prenom</label></td>
                            <td>{{ form_widget(form.prenomCli,{ 'attr': {'class': 'form-control','placeholder':'Prenom'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td><label>Date Naissace</label></td>
                            <td>{{ form_widget(form.dateNaiCli,{ 'attr': {'class': 'form-control','type':'date'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>S'identifier</label></td>
                            <td>{{ form_widget(form.login,{ 'attr': {'class': 'form-control','placeholder':'S identifier'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <td></td>
                        <td><font color="red"> {{ error1 }}</font></td>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>mot de passe</label></td>
                            <td>{{ form_widget(form.password,{ 'attr': {'class': 'form-control','placeholder':'Mot de passe'} }) }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td> <label>Confirmation mot de passe</label></td>
                            <td><input class="form-control" type="password" name="confpas" placeholder="Confirmation mot de passe"></td>
                        </div>
                    </tr>
                    <tr>
                        <td></td>
                        <td><font color="red"> {{ error2 }}</font></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            {{ form_widget(form.Valider,{ 'attr': {'class': 'btn btn-primary','value':'Valider'} }) }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </div>

    {{ form_end(form)}}
{% endblock %}
